@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-primary-dim: var(--primary-dim);
  --color-primary-lite: var(--primary-lite);
  --color-on-primary: var(--on-primary);
  --color-on-primary-dim: var(--on-primary-dim);
  --color-secondary: var(--secondary);
  --color-on-secondary: var(--on-secondary);
  --color-secondary-dim: var(--secondary-dim);
  --color-on-secondary-dim: var(--on-secondary-dim);

  --color-surface: var(--surface);
  --color-on-surface: var(--on-surface);
  --color-on-surface-muted: var(--on-surface-muted);

  --color-surface-dim: var(--surface-dim);
  --color-on-surface-dim: var(--on-surface-dim);
  --color-on-surface-dim-muted: var(--on-surface-dim-muted);

  --color-surface-container: var(--surface-container);
  --color-on-surface-container: var(--on-surface-container);
  --color-on-surface-container-muted: var(--on-surface-container-muted);
  
  --color-surface-dim-container: var(--surface-dim-container);
  --color-on-surface-dim-container: var(--on-surface-dim-container);
  --color-on-surface-dim-container-muted: var(--on-surface-dim-container-muted);

  --color-surface-light-dim-container: var(--surface-light-dim-container);

  --color-outline: var(--outline);
  --color-outline-variant: var(--outline-variant);

  --color-danger: var(--danger);
  --color-on-danger: var(--on-danger);

  --color-danger-dim: var(--danger-dim);
  --color-on-danger-dim: var(--on-danger-dim);

  --color-shade: var(--shade);
  --color-backdrop: var(--backdrop);

  --font-sans: var(--font-gabarito-sans);
  --font-mono: var(--font-google-sans-code);
}

:root {
  --font-sans: var(--font-gabarito-sans);
  --font-mono: var(--font-google-sans-code);
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 15px;
  /* This is needed because Safari is weird (and way too bold) */
  font-synthesis: none;

  /* This allows transitions to/from 'auto' keywords */
  interpolate-size: allow-keywords;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  touch-action: pan-x pan-y;

  @apply bg-surface;
}

#root {
  height: 100%;
}

dialog > article {
  transition: height 5s ease;
}

.markdown pre > div,
.thin-scrollbar {
  scrollbar-color: var(--outline) transparent;
  scrollbar-width: thin;
}

.markdown pre > div::-webkit-scrollbar,
.thin-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.markdown pre > div::-webkit-scrollbar-thumb,
.thin-scrollbar::-webkit-scrollbar-thumb {
  --thumb: var(--outline-variant);

  background: var(--thumb);
  border-radius: 0.2rem;
}

.markdown pre > div::-webkit-scrollbar-thumb:hover,
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  --thumb: var(--outline);
}

.markdown pre > div::-webkit-scrollbar-track,
.thin-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.scrollable-header {
  animation: add-border auto linear;
  animation-timeline: scroll(root);
  animation-range: 3px 5px;
  animation-fill-mode: both;

  @media (width < 1100px) {
    @apply bg-surface border-b border-transparent;
  }
}

@keyframes add-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: var(--color-outline-variant);
  }
}